{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cryptopredict</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700&display=swap"
     rel="stylesheet">
    

</head>
<body>
    <div class="header">
        <div class="containers">
            {% block menu %}
            {% include 'menu.html' %}
            {% endblock menu %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block banner %}
        {% endblock banner %}
    
    <!-- Footer -->
    <div class="container-fluid bg-dark h-10 align-items-center">
        <div class="py-5">
            <div class="row">
                <!-- Section Heading 
                <div class="col-2">
                    <h5 class="text-light offset-2">Section</h5>
                </div>
                -->
    
                <!-- Feedback Form -->
                <div>
                    {% if user.is_authenticated %}
                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center align-items-center">
                            <h5 class="me-3 text-white">Feedback</h5>
                            <div class="flex-grow-1 me-3" style="max-width:30%;"> 
                                {{ form.as_p}} 
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button> 
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
    
            <!-- Footer -->
            <div class="d-flex justify-content-center align-items-center py-4 my-4 border-top">
                <p class="text-light mb-0">&copy; 2025 Copyright</p>
            </div>
        </div>
    </div>
     <script>
        var MenuItem = document.createElementById("MenuItem")
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight ="200px";
            }
            else {
                MenuItems.style.maxHeight ="0px";
            }
        }
     </script>
     
<!-- Bootstrap.js-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
 <script src="{% static 'js/bootstrap.js' %}"></script>
 <script src="{% static 'script.js' %}"></script>
    
</body>
</html>