{% load static %}
<div class="container">
  <div class="container-fluid" style="padding:20px; padding-top:30px">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center" 
            style="
              text-transform: uppercase; /* Makes text uppercase */
              font-family: 'Poppins', sans-serif; /* Attractive modern font */
              font-size: 3rem; /* Large font size */
              font-weight: 700; /* Bold font */
              color: rgb(20, 114, 116); /* Bright and vibrant color */
              letter-spacing: 2px; /* Adds spacing between letters */
              text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* Subtle shadow effect */
            ">
          Crypto Charts
        </h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>
  {% for list in chart %}  
  <div class="container col-12 card-hover-effect" style="background-color:rgb(251, 247, 247); border-radius: 15px;">
    <div class="card mb-3 p-2" style="background-color:rgb(7, 7, 7); border-radius: 15px;">
      <div class="row g-0">
        <div class="col-4">
          <img src="{{ list.image.url}}" class="img-fluid rounded-start col-11 py-2" 
               style="min-height:300px; max-height: 300px; max-width: 500px; border-radius: 15px;" alt="image missing">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-center" style="color:rgba(11, 239, 243, 0.659);"> {{list.title}}</h4>
            <p class="card-texts" style="color:white;">{{ list.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


  
    
