{% load static %}
<div class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
    </div>
    <nav>
        <h3>{{ user.user_profile }}</h3>
        <ul id="MenuItems">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'account' %}">Account</a></li>
            {% else %}
            <li><a href="{% url 'homes' %}"> News</a></li>
           <li><a href=""> portfolio</a></li>
           <li><a href="{% url 'charts' %}"> Charts</a></li>
            <a href=""><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            <li><a href="{% url 'signout' %}"> logout</a></li>

            {% endif %}

        </ul>
    </nav>
    <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
</div>