{% extends 'blank.html' %}
{% block banner %}
<div class="container d-flex justify-content-center  mt-5">
    <div class="container col-5">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-primary text-white text-center">
                <h5 class="card-title mb-0">Predict Price</h5>
    
            </div>
            <p>haaaaa</p>
            <div class="d-flex justify-content-center">
                <button id="predictBtn" class="btn btn-primary" onclick="handleButtonClick()">Get Stared
                </button>
            </div>
        </div>

    </div>
    
</div>

{% endblock banner %}